{
    "extends": [
      "airbnb",
      "roc"
    ],
    "parser": "babel-eslint",
    "rules": {
        "react/jsx-filename-extension": 0
    }{{#if testJest}},
    "env": {
      "jest": true
    }
    {{/if}}
}
