.footer {
    height: 50px;
    color: #fff;
    background: rgb(42, 126, 142);
    font-size: 14px;

    a:visited {
        color: #fff;
    }
}

.vg {
    float: left;
    margin-right: 20px;
    height: 30px;
}

.gh {
    float: right;
    height: 30px;
}
